/*--------------- basic styling --------------- */
*{
  background: #000000;
}
html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      font-family: "Roboto Mono" !important;
      color: #fff !important;
}

.whitespace {
      width: 100%;
      height: 100px;
}

@media(max-width: 768px) {
      .whitespace {
            display: none;
      }
}

/*--------------- typewriter effect --------------- */
.line {
  width: 24em;
  top: 50%;
  margin: auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-60%);
}

.anim-typewriter {
  animation: typewriter 4s steps(40) 1s 1 normal both,
  blinkTextCussor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
  from {
        width: 0;
  }
  to {
        width: 18em;
  }
}

@media(max-width: 768px) {
  @keyframes typewriter {
        from {
              width: 0;
        }
        to {
              width: 17em;
        }
  }
}

@keyframes blinkTextCussor {
  from {
        border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
        border-right-color: transparent;
  }
}

/*--------------- navigation --------------- */
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;

  background: black;
  color: white;
}

.navbar a{
  color: white;
  text-decoration: none;
}

.navbar a:hover{
  cursor: pointer;
}

.name{
  font-weight: bold;
}

.nav-select{
  list-style: none;
}

.nav-item{
  display: inline-block;
  padding: 20px 10px 
}

.menu {
  display: none;
}

@media(max-width: 750px) {
  .menu{
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .navbar{
    display: block;
    flex-direction: column;

  }
}

/*--------------- hero section --------------- */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-weight: lighter;
  text-align: center;
  letter-spacing: -2px;
  line-height: 58px;
}

@media(max-width: 768px) {
  .header h1 {
        font-size: 26px;
  }
}

/*--------------- container --------------- */

header, footer {
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

/*--------------- Project --------------- */

#projectContainer {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

#projectContainer img {
  max-width: 100%; /* Adjust the maximum width as needed */
  max-height: 200px; /* Adjust the maximum height as needed */
  /* Additional styles if necessary */
}

.project {
  border-bottom: 1px solid #000000;
  padding: 20px 0;
}

.project img {
  max-width: 100%;
  height: auto;
}

/*--------------- Button --------------- */

.button {
  background-color: #aa2b4b; /* Green background color */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding around the text */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  font-size: 16px; /* Font size */
}

/* Hover effect */
.button:hover {
  background-color: #45a049; /* Darker green on hover */
}

/*--------------- Return Arrow --------------- */

.return-arrow {
  width: 50px;
  height: 50px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  position: relative;
  transform: rotate(-45deg);
  cursor: pointer;
}
.return-arrow::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-top: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
}

/*--------------- Dropdown menu --------------- */

.dropdown {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

select {
  appearance: none; /* Remove default appearance */
  padding: 6px 12px; /* Padding around text */
  font-size: 16px; /* Font size */
  font-family: "Roboto Mono";
  border: 1px solid #000000; /* Border */
  border-radius: 1px; /* Rounded corners */
  background-color: #000000; /* Background color */
  color: #ffffff; /* Text color */
  cursor: pointer; /* Cursor */
}

/* Style the dropdown arrow */
select::-ms-expand {
  display: none; /* Hide arrow in IE */
}

select::after {
  content: '\25BC'; /* Unicode character for downward arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Make the arrow non-clickable */
}

/* Hover effect */
select:hover {
  border-color: #999; /* Darker border on hover */
}

/*--------------- Dropdown menu --------------- */
/* Style for dropdowns */
.dropdown-style1 .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-style1 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-style1 .dropdown-content a {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  color: #333;
}

.dropdown-style1 .dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show dropdown content on click */
.dropdown-style1 .show {
  display: block;
}
