*{
  background: #000000;

}
body{
  font-family: "Roboto Mono" !important;
  color: #fff  !important; 
}

/*--------------- navigation --------------- */
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;

  background: black;
  color: white;
}

.navbar a{
  color: white;
  text-decoration: none;
}

.navbar a:hover{
  cursor: pointer;
}

.name{
  font-weight: bold;
}

.nav-select{
  list-style: none;
}

.nav-item{
  display: inline-block;
  padding: 20px 10px 
}

.menu {
  display: none;
}

@media(max-width: 750px) {
  .menu{
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .navbar{
    display: block;
    flex-direction: column;

  }
}

/*--------------- container --------------- */

header, footer {
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

/*--------------- Project --------------- */

#projectContainer {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

.project {
  
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}

.project img {
  max-width: 100%;
  height: auto;
}

/*--------------- Button --------------- */

.button {
  background-color: #aa2b4b; /* Green background color */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding around the text */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  font-size: 16px; /* Font size */
}

/* Hover effect */
.button:hover {
  background-color: #45a049; /* Darker green on hover */
}

/*--------------- Dropdown menu --------------- */

.dropdown {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

select {
  appearance: none; /* Remove default appearance */
  padding: 6px 12px; /* Padding around text */
  font-size: 16px; /* Font size */
  font-family: "Roboto Mono";
  border: 1px solid #000000; /* Border */
  border-radius: 1px; /* Rounded corners */
  background-color: #000000; /* Background color */
  color: #ffffff; /* Text color */
  cursor: pointer; /* Cursor */
}

/* Style the dropdown arrow */
select::-ms-expand {
  display: none; /* Hide arrow in IE */
}

select::after {
  content: '\25BC'; /* Unicode character for downward arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Make the arrow non-clickable */
}

/* Hover effect */
select:hover {
  border-color: #999; /* Darker border on hover */
}
