<footer class="container wow animate__animated animate__fadeInUp" data-wow-duration="2s" data-wow-delay="0.5s"">
  <div class="footer-line"></div>
  <div class="footer-content">
    <img src="/assets/media/!misc/random/wwwbutton.gif" alt="www">
    <p>&copy; {{ site.time | date: '%Y' }} Nathan Ge</p>
    <div class="social-icons">
      <a href="https://github.com/nzge" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://twitter.com/yourhandle" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://linkedin.com/in/nzge" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://instagram.com/naysun_g" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</footer>