<footer class="container wow animate__animated animate__fadeInUp" data-wow-duration="2s" data-wow-delay="0.5s"">
  <div class="footer-line"></div>
  <div class="footer-content">
    <img src="/assets/media/!misc/random/wwwbutton.gif" alt="www">
    <p>&copy; {{ site.time | date: '%Y' }} Nathan Ge 葛中骐</p>
    <div class="social-icons">
      <a href="https://github.com/nzge" target="_blank" data-no-icon><i class="fab fa-github"></i></a>
      <a href="https://x.com/ge_nathan73556" target="_blank" data-no-icon><i class="fab fa-twitter"></i></a>
      <a href="https://linkedin.com/in/nzge" target="_blank" data-no-icon><i class="fab fa-linkedin"></i></a>
      <a href="https://instagram.com/naysun_g" target="_blank" data-no-icon><i class="fab fa-instagram"></i></a>
    </div>

  </div>

  <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
  <script>
    kofiWidgetOverlay.draw('nathange', {
      type: 'floating-chat',
      'floating-chat.donateButton.text': 'Support me',
      'floating-chat.donateButton.background-color': 'rgba(24, 22, 22, 0.3)', // opacity controlled here
      'floating-chat.donateButton.text-color': '#fff'
    });
  </script>

</footer>