<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nathan Ge{% if page.title %} - {{ page.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Nathan Ge is a mechanical engineer and designer based in the Bay Area.{% endif %}">

  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

  <!-- stylesheet -->
  <!-- Automatically include all CSS files in /assets/css/ -->
  {%- for css_file in site.static_files %}
    {%- if css_file.path contains '/assets/css/' and css_file.extname == '.css' %}
      <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{{ css_file.path }}">{%- endif -%}
  {%- endfor %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

  
</head>

<!-- Include js -->
<script src="{{ site.baseurl }}/assets/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script type="text/javascript" async
  src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript" async
  id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    if (typeof MathJax === "undefined") {
      console.error("MathJax is NOT loaded!");
    } else {
      console.log("MathJax is loaded successfully.");
    }
  });
</script>
