 <!--------------- navbar starts here --------------->
 <nav class="navbar"> 
  <div class="name animate__animated animate__fadeInUp"> <a href="/pages/index.html">nathan</a> </div>
  <ul class="nav-select">
    <li class="nav-item"><a href="/pages/index.html">home.</a></li>
    <li class="nav-item"><a href="/pages/about.html">about me.</a></li>
    <li class="nav-item"><a href="/pages/work.html">work.</a></li>
    <li class="nav-item"><a href="/pages/contact.html">contact.</a></li>
  </ul>
</nav>