 <!--------------- navbar starts here --------------->
<nav class="navbar"> 
  <div class="name animate__animated animate__fadeInUp" style="display: flex; align-items: center; gap: 10px;">
    <a href="/index.html" style="display: flex; align-items: center; text-decoration: none; color: inherit;">
      <span>nathan</span> 
      <img src="/assets/media/nathan/Nathan-red_block.svg" alt="Example Image" style="width: 35px; height: auto; margin-left: 2px;">
    </a>
  </div>

  <ul class="nav-select">
    <li class="nav-item"><a href="/index.html">home.</a></li>
    <li class="nav-item"><a href="/pages/about.html">about me.</a></li>
    <li class="nav-item"><a href="/pages/work.html">work.</a></li>
    <li class="nav-item"><a href="/pages/blog.html">blog.</a></li>
    <li class="nav-item"><a href="/pages/contact.html">contact.</a></li>
  </ul>
</nav>
