 <!--------------- navbar starts here --------------->
 <nav class="navbar"> 
  <div class="name animate__animated animate__fadeInUp"> <a href="/index.html">nathan <img src="/assets/media/Nathan.svg" alt="Example Image" style="width: 10px; height: auto; display: block; margin: auto;"> </a> </div>
  <ul class="nav-select">
    <li class="nav-item"><a href="/index.html">home.</a></li>
    <li class="nav-item"><a href="/pages/about.html">about me.</a></li>
    <li class="nav-item"><a href="/pages/work.html">work.</a></li>
    <li class="nav-item"><a href="/pages/contact.html">contact.</a></li>
  </ul>
</nav>