/*--------------- Typewriter Effect --------------- */
.line {
  width: 24em;
  top: 50%;
  margin: auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-60%);
}

.anim-typewriter {
  animation: typewriter 4s steps(40) 1s 1 normal both,
             blinkTextCussor 500ms steps(40) infinite normal;
}

// Keyframes must remain at the root level.
@keyframes typewriter {
  from { width: 0; }
  to { width: 18em; }
}

@keyframes blinkTextCussor {
  from { border-right-color: rgba(255, 255, 255, 0.75); }
  to { border-right-color: transparent; }
}

// Using a media query to override the typewriter keyframe for smaller screens
@media (max-width: 768px) {
  @keyframes typewriter {
    from { width: 0; }
    to { width: 17em; }
  }
}

/*--------------- Gradient --------------- */
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.dynamic-bg {
  background: linear-gradient(270deg, #ff7e5f, #feb47b, #86a8e7, #7f7fd5);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}
