/*--------------- About Page --------------- */
.about {
  height: 500px;
  margin-top: 120px;
}

/*--------------- Image Background --------------- */
.image {
  // Uncomment the line below if you want to use the Unsplash image instead
  // background: url(https://images.unsplash.com/photo-1540885762261-a2ca01f290f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2468&q=80) no-repeat 50% 70%;
  background-image: url(../media/AtlasRobotWave.gif);
  background-size: cover;
  background-position: center;
}

/*--------------- Contact Page --------------- */
form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    margin-top: 10px;
    padding: 10px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background: #0056b3;
    }
  }
}

/*--------------- Project --------------- */
.project {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #151516; /* Grey border */
  border-radius: 10px; /* Curved corners */
  background-color: #151516; /* Light background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for better appearance */
  margin-bottom: 20px; /* Space between projects */

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }
}

.project-link {
  font-size: 1.5rem; 
  color: #1f5c85; // Default link color
  text-decoration: none;

  &:visited {
    color: #1f5c85; // Visited link color
  }

  &:hover {
    color: #ff6347 !important; // Ensure hover color applies
  }
}