---
layout: default
---

<!--------------- hero image starts here --------------->
<div class="container">
    <div class="row">
        <div class="about image wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s"></div>
    </div>
</div>

<!--------------- hero section starts here --------------->
<div class="container">
    <div class="hero-content">
        <br><br>
          <div class="row">
                <h3  class="wow animate__animated animate__fadeInUp" data-wow-duration="2s" data-wow-delay="0.5s">about me.</h3><br>
                <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                    {{content}}
                </p>
          </div>
    </div>
</div>
<!--------------- hero section ends here --------------->