---
layout: default
---

<!--------------- hero image starts here --------------->
<div class="container">
    <div class="row">
        <div class="about image wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s"></div>
    </div>
</div>

<!--------------- hero section starts here --------------->
<div class="container">
    <div class="hero-content">
        <br><br>
          <div class="row">
                <h3  class="wow animate__animated animate__fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">about me.</h3><br>
                <p class="wow animate__animated animate__fadeInUp" data-wow-duration="2s" data-wow-delay="0.5s">
                    {{content}}
                </p>
          </div>
    </div>
    
    <br><br>

    <div style="display: flex; justify-content: center; gap: 20px; flex-wrap: wrap;">
        <img src="/assets/media/icons/cswp_mechanical-design.svg" alt="cswp_mechanical-design" style="width: 100px; height: auto;">
        <img src="/assets/media/icons/cswp_drawing-tools.svg" alt="cswp_drawing-tools" style="width: 100px; height: auto;">
        <img src="/assets/media/icons/cswp_surfacing.svg" alt="cswp_surfacing" style="width: 100px; height: auto;">
        <img src="/assets/media/icons/cswp_weldments.svg" alt="cswp_weldments" style="width: 100px; height: auto;">
        <img src="/assets/media/icons/cswp_sheet-metal.svg" alt="cswp_sheet-metal" style="width: 100px; height: auto;">
    </div>
</div>
<!--------------- hero section ends here --------------->
