<html {% if page.effect == "dynamic" %} class="dynamic-bg" {% endif %}> 
  {% include head.html %}

  <button id="backToTop" title="Back to top">↑</button>

  {% include menu.html %}

  <body>  
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/slideshow.js"></script>
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/4.0.0/model-viewer.min.js"></script>
    
    {% include navbar.html %}

    {{ content }}

    {% include footer.html %}
    {% include music.html %}
    {% include scripts.html %}
  </body>

</html>

