---
layout: default
---

<header>
  <div class="container">
    <div class="return-arrow" onclick="goBack()"></div>
    <h2>{{page.title}}</h2>
    <label for="sortDropdown">Sort by:</label>
    <select id="sortDropdown" onchange="location.href='?sort=' + this.value">
      <option value="date" {% if page.sort == 'date' %}selected{% endif %}>Date</option>
      <option value="name" {% if page.sort == 'name' %}selected{% endif %}>Name</option>
    </select>
  </div>
</header>

<div class="container">
  <section id="projects">
    {% assign sort_criteria = page.sort | default: 'date' %}
    {% assign category_type = page.type %}
    {% assign projects = site.pages | where: "category", category_type %}
    
    {% if projects %}
      {% if sort_criteria == 'date' %}
        {% assign sorted_projects = projects | sort: 'date' %}
      {% elsif sort_criteria == 'name' %}
        {% assign sorted_projects = projects | sort: 'title' %}
      {% endif %}
      
      {% for project in sorted_projects %}
        <div class="project wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
          <a href="{{ project.url }}">
            <h3>{{ project.title }}</h3>
            <img src="{{ project.image }}" alt="{{ project.title }}">
          </a>
          <p>{{ project.description }}</p>
        </div>
      {% endfor %}
    {% else %}
      <p>No projects found in this category.</p>
    {% endif %}
  </section>
</div>

{{content}}

<div id="projectContainer"></div>