---
layout: default
---

<div class="gif-left">
  <img id="gif-left" alt="Left GIF">
</div>

<div class="gif-right">
  <img id="gif-right" alt="Right GIF">
</div>

<header>
  <div class="container">
    <div class="go-back" onclick="goBack()">Go Back</div>
    <h2>{{page.title}}</h2>
    {% unless page.repo == blank %}
      <a href="{{ page.repo }}" target="_blank" rel="noopener noreferrer">Repo</a>
    {% endunless %}
  </div>
</header>


<div class="container">
  {% if page.toc == true %}
    <nav class="toc-box">
      <p>Table of Contents</p>
      {% include toc.html html=content %}
    </nav>
  {% endif %}
  <div>
    <article class="markdown-body">
      {{ content}}
    </article>
  </div>
</div>