---
layout: default
---

<header>
  <div class="container">
    <div class="go-back" onclick="goBack()">Go Back</div>
    <h2>{{ page.title }}</h2>
    <div class="sort-container">
      <label for="sortDropdown">Sort by:</label>
      <select id="sortDropdown" onchange="sortProjects()">
        <option value="date-newest">Date (Newest)</option>
        <option value="date-oldest">Date (Oldest)</option>
        <option value="name-first">Name (A-Z)</option>
        <option value="name-last">Name (Z-A)</option>
      </select>
    </div>
  </div>
</header>

{% assign category_type = page.type %}

<!-- Display subcategories -->
{% assign base_path = 'projects/project_categories/' | append: category_type | append: '/' %}
{% assign base_path_size = base_path | size %}
<div class="container">
  <h2 style="text-align: center; color:rgb(95, 49, 94) !important;">Other</h2>
  <section id="subcategories">
    {% for project in site.pages %}
      {% assign path_start = project.path | slice: 0, base_path_size %}
      {% if path_start == base_path %}
        {% assign sub_path = project.path | remove_first: base_path %}
        {% unless sub_path contains '/' %}
          <div class="project wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
            <h2><a href="{{ project.url }}" class="project-link" style="color: #FFFF00 !important;">{{ project.title }}</a></h2>
            <p>{{ project.description }}</p>
          </div>
        {% endunless %}
      {% endif %}
    {% endfor %}
  </section>
  <hr style="border: 1px solid #ffffff; margin: 20px 0;">
</div>

<!-- Display category projects -->
<div class="container">
  <h2 style="text-align: center; color:rgb(95, 49, 94) !important;">Main</h2>
  <section id="projects">
    {% assign projects = site.pages | where: "category", category_type %}
    <!-- Liquid sorting based on date, from newest to oldest by default -->
    {% assign sorted_projects = projects | sort: 'date' | reverse %}
    {% for project in sorted_projects %}
      <div class="project wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-title="{{ project.title }}" data-date="{{ project.date | date: '%Y-%m-%d' }}">
        <a href="{{ project.url }}" class="project-link">
          <h3>{{ project.title }}</h3>
          <img src="/assets/media/{{ project.image }}" alt="{{ project.title }}">
        </a>
        <p>{{ project.description }}</p>
      </div>
    {% endfor %}
  </section>
</div>