---
layout: default
---
<header>
  <div class="container">
    <div class="go-back" onclick="goBack()">Go Back</div>
    <h2>{{ page.title }}</h2>
    <div class="sort-container">
      <label for="sortDropdown">Sort by:</label>
      <select id="sortDropdown" onchange="sortProjects()">
        <option value="date-newest">Date (Newest)</option>
        <option value="date-oldest">Date (Oldest)</option>
        <option value="name-first">Name (A-Z)</option>
        <option value="name-last">Name (Z-A)</option>
      </select>
    </div>
  </div>
</header>

<div class="container">
  <section id="projects">
    {% assign category_subtype = page.subtype %}
    {% assign sub_projects = site.pages | where: "category", category_subtype %}
    <!-- Liquid sorting based on date, from newest to oldest by default -->
    {% assign sorted_projects = sub_projects | sort: 'date' | reverse %}
    
    {% for project in sorted_projects %}
      <div class="project wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-title="{{ project.title }}" data-date="{{ project.date | date: '%Y-%m-%d' }}">
        <a href="{{ project.url }}" class="project-link">
          <h3>{{ project.title }}</h3>
          <img src="/assets/media/{{ project.image }}" alt="{{ project.title }}">
        </a>
        <p>{{ project.description }}</p>
      </div>
    {% endfor %}
  </section>
</div>

<div id="projectContainer"></div>