---
layout: default
---

{{content}}

<div class="container">
  <section id="projects">
    {% assign category_type = page.type %}
    {% assign category_path = 'projects/project_categories/' | append: category_type %}
    {% for project in site.pages %}
      {% if project.path contains category_path %}
        <div class="project wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
          <h2><a href="{{ project.url }}" class="project-link">{{ project.title }}</a></h2>
          <p>{{ project.description }}</p>
        </div>
      {% endif %}
    {% endfor %}
  </section>
</div>

